@import '../../../assets/styles/theme/vars';

.cover {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Las_Vegas_sportsbook.jpg/1200px-Las_Vegas_sportsbook.jpg') rgba($black, 0.3);
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #fff;
}
